body { margin: 50px 0; font-family: Arial; text-align: justify; color: #555; }
h1 { text-align: center; color: #111; font-size: 2em; font-weight: lighter; }
.subtitle { text-align: center; color: #aaa; border-bottom: 1px solid #ccc;
	    padding-bottom: 25px; font-size: 1.5em; font-weight: lighter; }
h2 { color: #777; font-weight: lighter; }
a { color: #003399; }
a:hover { color: #0066CC; }
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    position: fixed;
    top: 0;
    left: 0;
    width: 170px;
    height: 100%;
}
#menu li {}
#menu li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
#menu li a:hover {
    background-color: #888;
}
#menu li a.active {
    background-color: #0066FF;
}
#main { margin: auto 20px auto 190px; padding-left: 7em; padding-right: 7em; }
.email { font-family: monospace; }
.email:before { content: "e-mail:"; margin-right: 4px; font-family: initial; }
.pub { list-style-type: none; margin-bottom: 25px; padding-left: 10px;
       border-left: 4px solid #eee; }
.pub .authors { display: block; }
.pub .title { display: block; font-weight: bolder; }
.pub .conf { display: block; }
.pub .notice { font-size: 75%; }
.pdf:before { content:url(icons/acrobat.gif); padding: 2px; }
.centered-img { margin: 0 auto; display: block; }
.right-img { float: right; }
.info, .success, .warning, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 10px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('icons/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('icons/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('icons/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('icons/error.png');
}
.project {
    border: 1px solid #aaa;
    margin: 40px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 10px;
}
.project h2 {
    margin: 0 0 20px 0;
}
.project p {
    padding: 0;
    margin: 0;
}
.term-in {}
.term-in:before { content: "$"; }
.term-out {}
code{ border-radius: 10px; }
