body { margin: 100px 0 50px 0; font-family: Arial; text-align: justify;
       color: #222; }
h1 { color: #06A; font-size: 2em; font-weight: lighter;
     text-transform: uppercase; margin-bottom: 40px; }
.subtitle {
    color: #444;
    margin-top: 0;
    margin-top: -45px;
    font-size: 1.5em;
    font-weight: lighter;
    text-transform: uppercase;
}
.email {
    color: #777;
    font-family: monospace;
    margin-top: -25px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}
h2 { color: #777; font-weight: lighter; }
a { color: #003399; }
a:hover { color: #0066CC; }
#menu {
    margin: 0;
    padding-left: 10em;
    padding-right: 10em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #ddd;
}
#menu li { float: left; }
#menu li a {
    display: block;
    color: #777;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}
#menu li a:hover { color: #111; }
#menu li a.active { border-bottom: 5px solid #0066FF; }
#main { margin: auto 20px; padding-left: 10em; padding-right: 10em; }
.pub {
    list-style-type: none;
    margin-bottom: 25px;
    padding-left: 10px;
    border-left: 4px solid #eee;
}
.pub .authors { display: block; }
.pub .title { display: block; font-weight: bolder; }
.pub .conf { display: block; }
.pub .notice { font-size: 75%; }
.pdf:before { content:url(icons/acrobat.gif); padding: 2px; }
.centered-img { margin: 0 auto; display: block; }
.right-img { float: right; }
.info, .success, .warning, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 10px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('icons/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('icons/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('icons/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('icons/error.png');
}
.project {
    border-left: 4px solid #eee;
    margin: 40px 0px;
    padding-left: 15px;
}
.project h2 { margin: 0 0 20px 0; }
.project p { padding: 0; margin: 0; }
