body {
    margin: 50px 0 50px 0;
    font-family: Arial, sans-serif;
    text-align: justify;
    color: #222;
}
h1 {
    color: #06A;
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 40px;
}
.email {
    color: #777;
    font-family: monospace;
    margin-top: -25px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    font-size: 1.5em;
}
h2 {
    color: #777;
    font-weight: lighter;
}
a {
    color: #003399;
}
a:hover {
    color: #0066CC;
}
#menu {
    padding-left: 10em;
    padding-right: 10em;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #ddd;
}
#menu li {
    float: left;
}
#menu li a {
    display: block;
    color: #777;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}
#menu li a:hover {
    color: #111;
}
#main {
    margin: auto 20px;
    padding-top: 20px;
    padding-left: 10em;
    padding-right: 10em;
}
.pub {
    list-style-type: none;
    margin-bottom: 25px;
    padding-left: 10px;
    border-left: 4px solid #eee;
}
.pub .authors, .pub .conf {
    display: block;
}
.pub .title {
    display: block;
    font-weight: bolder;
}
.pub .notice {
    font-size: 75%;
}
.pdf:before {
    content:url(icons/acrobat.gif);
    padding: 2px;
}
